@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    font-family: Roboto Mono, monospace;
}

button {
    cursor: pointer;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: flex;
    @media screen and (max-width: 850px){
        display: block !important;
    }
}